/* src/components/ContactInformation/ContactInformation.css */

.contact {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 20px;
    max-width: 1000px;
    margin: 0 auto;
    padding: 40px;
    background-color: #f9f9f9;
    border: 1px solid #ccc;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  .contact-info-item {
    display: flex;
    align-items: center;
  }
  
  .contact-info-item img {
    width: 60px;
    margin-right: 20px;
  }
  
  .contact-info-item h3 {
    font-size: 1.5em;
    margin-bottom: 10px;
    color: #333;
  }
  
  .contact-info-item p {
    margin: 0;
    font-size: 1.1em;
    color: #555;
  }
  